.login {
  max-width: 300px;
  padding: 20px;
  margin: 0 auto;
  margin-block: 5%;
  background-color: var(--colorsecundary);
  border-radius: 20px;
  &-title {
    text-align: center;
    margin-bottom: 5%;
    color: var(--colorfonttwo);
  }
  & > button {
    width: 100%;
    font-size: 16px;
    color: var(--colorfontone);
    background-color: var(--colorbutton);
    padding: 3%;
    font-weight: 500;
    border: none;
    & i {
      font-size: 20px;
    }
  }
  &-button {
    border-radius: 10px 10px 0 0;
  }
  &-google {
    margin-top: 3px;
    border-radius: 0 0 10px 10px;
  }
  &-form {
    & .profile-password {
      font-size: 12px;
      color: var(--colorfonttwo);
      text-align: end;
      margin: 0 5px 0 0;
    }
    & label {
      width: 100%;
    }
    & input {
      width: 100%;
      font-size: 16px;
      color: var(--colorfonttwo);
      background-color: var(--colorbg);
      padding: 2%;
      font-weight: 400;
      text-align: center;
      border-color: var(--colorsecundary);
      border-style: solid;
      border-width: 2px;
      outline-color: var(--colorbutton);
    }
    &--email {
      border-radius: 10px 10px 0 0;
    }
    &--button {
      margin-top: 5px;
      width: 100%;
      font-size: 16px;
      color: var(--colorfontone);
      background-color: var(--colorbutton);
      padding: 2%;
      font-weight: 400;
      border: none;
      border-radius: 0 0 10px 10px;
      &:disabled {
        background-color: grey;
      }
    }
  }
}
