<main id="menu" style="right: 100%;" class="menu scrollTheme">
  <a><i class="fa-solid fa-xmark"></i></a>
  <section class="menu-section-one--home">
    <a [routerLink]="['home']"><i class="fa-solid fa-house"></i><div>Home</div></a>
  </section>
  <section class="menu-section-two--cards">
    <div class="menu-section-card"><a [routerLink]="['micv']"><i class="fas fa-address-book"></i><div>Mi CV</div></a></div>
    <div class="menu-section-card"><a [routerLink]="['proyectos']"><i class="fa-solid fa-briefcase"></i><div>Proyectos</div></a></div>
    <div class="menu-section-card"><a [routerLink]="['blogspace']"><i class="fa-solid fa-blog"></i><div>Blog Space</div></a></div>
    <div class="menu-section-card"><a [routerLink]="['login']"><i class="fa-solid fa-right-to-bracket"></i><div>Log In</div></a></div>
  </section>
  <section class="menu-section-three--config">
    <a (click)="abrirModal(popoverPlusComponent)"><i class="fa-solid fa-plus"></i></a>
  </section>
</main>

<main id="menu-desktop" style="right: 100%;" class="menu-desktop">
    <a title="Ir a pagina Principal" [routerLink]="['home']"><i class="fa-solid fa-house"></i></a>
    <div class="menu-desktop-section-card"><a title="Mi Hoja de Vida" [routerLink]="['micv']"><i class="fas fa-address-book"></i></a></div>
    <div class="menu-desktop-section-card"><a title="Mis Articulos" [routerLink]="['blogspace']"><i class="fa-solid fa-blog"></i></a></div>
    <div class="menu-desktop-section-card"><a title="Mis Proyectos" [routerLink]="['proyectos']"><i class="fa-solid fa-briefcase"></i></a></div>
    <div class="menu-desktop-section-card"><a title="Iniciar Sesión" [routerLink]="['login']"><i class="fa-solid fa-right-to-bracket"></i></a></div>
    <a [placement]="['top', 'bottom']" [ngbPopover]="popoverPlusComponent" popoverClass="popover" [triggers]="'click focus'"><i class="fa-solid fa-plus"></i></a>
</main>

<ng-template #popoverPlusComponent let-c="close">
  <app-popover-plus></app-popover-plus>
</ng-template>
