.menu {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--colorsecundary);
  opacity: 98.5%;
  top: 0;
  z-index: 10;
  overflow-y: scroll;
  & a:visited {
    color: var(--colorfontone);
  }
  & > a i {
    padding: 10px;
  }
  &-section-one--home {
    background-color: var(--colorprimary);
    width: 100%;
    padding: 3vw 0;
    & a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: var(--colorfontone);
      & i {
        margin-right: 10px;
      }
    }
  }
  &-section-two--cards {
    width: 100%;
    padding: 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    & .menu-section-card {
      display: flex;
      margin: 10px 10px;
      width: 80px;
      height: 80px;
      min-width: 80px;
      min-height: 80px;
      background-color: var(--colorbutton);
      text-align: center;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      box-shadow: 5px 4px 6px var(--colorshadow);
      & a {
        text-decoration: none;
        & div {
          font-size: 14px;
        }
      }
    }
  }
  &-section-three--config {
    background-color: var(--colorprimary);
    width: 100%;
    padding: 3vw 0;
    & a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      & i {
        margin-right: 10px;
      }
    }
  }
}

.menu-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
  .menu-desktop {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    & > a:hover, :focus, :active {
      transform: scale(1.2);
    }
    & a:hover, :focus, :active {
      color: var(--colorfontone);
    }
    & .menu-desktop-section-card {
      & i {
        background-color: var(--colorbutton);
        padding: 12px 12px;
        border-radius: 50%;
      }
      &:hover, :focus, :active {
      transform: scale(1.2);
     }
    }
  }
}
