.target {
  width: 100%;
  height: 100%;
  background: var(--colorbg);
  border: 2px double var(--colorshadow);
  border-radius: 10px;
  & .title {
    width: 100%;
    height: auto;
    background: var(--colorprimary);
    text-align: center;
    border-radius: 10px 10px 0 0;
    & h6 {
      color: var(--colorfontone);
    }
  }
  & .content {
    width: 100%;
    height: 100%;
    background: var(--colorsecundary);
    text-align: center;
    padding: 2px;
    color: var(--colorfonttwo);
    border-radius: 0 0 10px 10px;
    &-img img {
      width: 100%;
    }
  }
}
