<app-upload-photo
  [showFront]="showFront" [showProfile]="showProfile"
  (showFrontEvent)="showFront = $event" (showProfileEvent)="showProfile = $event"
  ></app-upload-photo>
<app-alerts [active]="alertActive" [message]="alertMessage"></app-alerts>

<section class="profile">
  <div class="profile-front">
    <img [routerLink]="['gallery']" [src]="userProfile?.imgFront === undefined ? '../../../assets/small/profile-default.svg' : userProfile?.imgFront" alt="front">
    <label class="profile-front-change"><i class="fa-solid fa-camera" (click)="showFront = !showFront"></i></label>
  </div>
  <div class="profile-details">
    <div class="profile-photo" >
      <img (click)="viewUpload()" [src]="userProfile?.imgurl === undefined ? '../../../assets/small/profile-default.svg' : userProfile?.imgurl " alt="profile">
      <label (click)="viewUpload()" class="profile-photo-change" [class.show]="view"><i class="fa-solid fa-camera" (click)="showProfile = !showProfile"></i></label>
    </div>
    <div class="profile-personal">
      <h3 class="profile-name">{{userProfile?.name}} {{userProfile?.lastname}}</h3>
      <p class="profile-city">{{userProfile?.city}}</p>
      <p class="profile-email">{{userProfile?.email}}
        <span [ngStyle]="infoAuth.emailVerified? {'color': 'green'} : {'color': 'red'}">
          <i class="fa-solid fa-circle-check" *ngIf="infoAuth.emailVerified"></i>
          {{infoAuth.emailVerified? '' : 'No Verificado!'}}
        </span>
      </p>
      <p class="profile-phone">{{userProfile?.phone}}</p>
      <span class="profile-password" (click)="resetPassword()">Restablecer Contraseña</span>
    </div>
    <div class="profile-socials">
      <a href=""><i class="fa-brands fa-facebook-f"></i></a>
      <a href=""><i class="fa-brands fa-instagram"></i></a>
      <a href=""><i class="fa-brands fa-whatsapp"></i></a>
      <a href=""><i class="fa-brands fa-linkedin"></i></a>
    </div>
  </div>
</section>

<section class="activity">
  <div class="activity-items">
    <div class="activity-items--item"><img src="../../../assets/small/profile-default.svg" alt=""></div>
    <div class="activity-items--item"><img src="../../../assets/small/profile-default.svg" alt=""></div>
    <div class="activity-items--item"><img src="../../../assets/small/profile-default.svg" alt=""></div>
    <div class="activity-items--item"><img src="../../../assets/small/profile-default.svg" alt=""></div>
    <div class="activity-items--item"><img src="../../../assets/small/profile-default.svg" alt=""></div>
    <div class="activity-items--item"><img src="../../../assets/small/profile-default.svg" alt=""></div>
    <div class="activity-items--item"><img src="../../../assets/small/profile-default.svg" alt=""></div>
    <div class="activity-items--item"><img src="../../../assets/small/profile-default.svg" alt=""></div>
    <div class="activity-items--item"><img src="../../../assets/small/profile-default.svg" alt=""></div>
    <div class="activity-items--item"><img src="../../../assets/small/profile-default.svg" alt=""></div>
    <div class="activity-items--item"><img src="../../../assets/small/profile-default.svg" alt=""></div>
    <div class="activity-items--item"><img src="../../../assets/small/profile-default.svg" alt=""></div>
    <div class="activity-items--item"><img src="../../../assets/small/profile-default.svg" alt=""></div>
    <div class="activity-items--item"><img src="../../../assets/small/profile-default.svg" alt=""></div>
    <div class="activity-items--item"><img src="../../../assets/small/profile-default.svg" alt=""></div>
  </div>
</section>
<section></section>
