.profile {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  &-front {
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative;
    & img {
      width: 100%;
      min-height: 200px;
      object-fit: cover;
      object-position: 0 -5vh;
    }
  }
  &-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    color: var(--colorfonttwo);
    & .profile-photo {
      width: 25vw;
      height: 25vw;
      border-radius: 50%;
      overflow: hidden;
      position: absolute;
      top: -30%;
      left: 5%;
      background-color: var(--colorbg);
      border: 1px solid var(--colorbg);
      & img {
        width: 100%;
      }
    }
    & .profile-personal {
      width: 70%;
      padding: 3% 5%;
      & p {
        margin: 0;
        font-size: 12px;
        & span, i {
          font-size: 10px;
        }
      }
      & .profile-password {
        background: var(--colorbutton);
        padding: 2px 5px;
        border-radius: 10px;
        color: var(--colorfontone);
        font-size: 10px;
      }
    }
    & .profile-socials {
      width: 70%;
      padding-left: 10px;
      & i {
        color: var(--colorfonttwo);
        margin: 0 10px;
      }
    }
  }
}

.profile-photo-change, .profile-front-change {
  display: flex;
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 0;
  & > i {
    background-color: var(--colorsecundary);
    padding: 5px;
    border-radius: 50%;
    color: var(--colorfonttwo);
    opacity: 90%;
  }
}
.profile-front-change {

  justify-content: flex-end; }
.profile-photo-change {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #0000004d;
}
.activity {
  height: 200px;
  &-items {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 90%;
    height: 160px;
    background-color: var(--colorsecundary);
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 20px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    &--item {
      margin: 10px 10px ;
      width: 120px;
      height: 120px;
      border: 1px solid black;
      border-radius: 10px;
      & img {
        width: 120px;
      }
    }

  }
}

.show {
  display: flex;
}
