@import "../../../styles.scss";

.micv {
  padding-bottom: 30px;
  &-section-one {
    padding: 20px;
    text-align: center;
    &__tittle {
      margin-bottom: 20px;
      color: var(--colorfonttwo);
    }
    &__photo {
      width: 140px;
      border-radius: 20px;
      margin: auto auto;
      overflow: hidden;
      & img {
        width: 160px;
        margin-left: -10px;
      }
    }
  }
  &-section-two {
    width: 80%;
    height: 75px;
    background-color: var(--colorsecundary);
    margin: auto auto;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid var(--colorfonttwo);
    overflow: hidden;
    & .nav-link:hover,.nav-link:focus {
      border: 0;
    }
    & .tab-content {
      background-color: var(--colorsecundary);
    }
    &__icons .nav{
      display: flex;
      text-align: center;
      border-bottom: 1px solid var(--colorprimary);
      & li {
        width: 25%;
      }
      & .profile, .phone, .email, .address {
        background-color: var(--colorprimary);
        border-right: 1px solid var(--colorprimary);
        padding: 3px 0px;
        color: var(--colorfontone);
        transition: none;
      }
      & .active {
        background-color: var(--colorbutton);
        padding: 3px 0px;
        border: 0;
      }
      & .address {
        border-right: none;
      }
    }
    & .tab-pane {
      text-align: center;
      padding-top: 10px;
      color: var(--colorfonttwo);
    }
  }
  &-section-three {
    width: 95%;
    background-color: var(--colorsecundary);
    margin: auto auto;
    border-radius: 10px;
    overflow: hidden;
    &__tab{
      display: flex;
      height: 40px;
      background-color: var(--colorprimary);
      margin: 2px 0;
      align-items: center;
      border: 1px solid var(--colorfonttwo);
      border-radius: 10px;
      & i {
        margin: 0 10px ;
      }
    }
    & .details {
      display: block;
      padding: 10px;
      text-align: justify;
      color: var(--colorfonttwo);
      & a {
        color: var(--colorfonttwo);
      }
    }
  }
}
.btn-certificates {
  border: 1px solid var(--colorfonttwo);
  background-color: var(--colorbutton);
  color: var(--colorfontone);
  transition: filter 0.2s ease-in-out;
  &:hover {
    color: black;
    filter: brightness(150%);
  }
}
@media screen and (min-width: 768px) {
  .micv-section-two {
    max-width: 400px;
  }
  .micv-section-three {
    max-width: 80%;
    & .abilities-details {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      & > div {
        width: 40%;
      }
    }
  }
}
