<div class="micv">
  <section class="micv-section-one">
    <h1 class="micv-section-one__tittle">{{dateperson.profession}}</h1>
    <a class="micv-section-one__photo" >
      <!--aqui va el anterior componente-->
      <img [lightbox]="0" [src]="dateperson.photo" alt="photo-perfile" >
    </a>
  </section>
  <section class="micv-section-two">
    <div class="micv-section-two__icons">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="profile nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" role="tab" aria-controls="profile" aria-selected="true"><i class="fa-solid fa-user-tie"></i></a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="phone nav-link" id="phone-tab" data-bs-toggle="tab" data-bs-target="#phone" role="tab" aria-controls="phone" aria-selected="false" ><i class="fa-solid fa-mobile"></i></a>
        </li>
        <li class="nav-item" role="presentation">
         <a class="email nav-link" id="email-tab" data-bs-toggle="tab" data-bs-target="#email" role="tab" aria-controls="email" aria-selected="false"><i class="fa-solid fa-at"></i></a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="address nav-link" id="address-tab" data-bs-toggle="tab" data-bs-target="#address" role="tab" aria-controls="address" aria-selected="false"><i class="fa-solid fa-location-dot"></i></a>
        </li>
      </ul>
    </div>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">{{dateperson.name}}</div>
      <div class="tab-pane fade" id="phone" role="tabpanel" aria-labelledby="phone-tab">{{dateperson.phone}}</div>
      <div class="tab-pane fade" id="email" role="tabpanel" aria-labelledby="email-tab">{{dateperson.email}}</div>
      <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">{{dateperson.address}}</div>
    </div>
  </section>
  <section class="micv-section-three">
    <div class="micv-section-three__tab profil" (click)="view('profil')">
      <div class="micv-section-three__tab___show">
        <i class="fa-solid fa-plus" [ngClass]="{'fa-minus': viewTrue === 'profil', 'fa-plus' : viewTrue !==  'profil'}"></i>
        <span>{{contentcv.profilepro.name}}</span>
      </div>
    </div>
    <div class="details profile-details" [ngClass]="{'view': viewTrue === 'profil'}">
      <p>{{contentcv.profilepro.details.paragraph1}}</p>
      <p>{{contentcv.profilepro.details.paragraph2}}</p>
      <p>{{contentcv.profilepro.details.paragraph3}}</p>
    </div>
    <div class="micv-section-three__tab studies" (click)="view('studies')">
      <div class="micv-section-three__tab___show">
        <i class="fa-solid" [ngClass]="{'fa-minus': viewTrue === 'studies',  'fa-plus' : viewTrue !==  'studies'}"></i>
        <span>{{contentcv.studies.name}}</span>
      </div>
    </div>
    <div class="details studies-details" [ngClass]="{'view': viewTrue === 'studies'}">
      <ul>
        <li *ngFor="let studie of studies">
          <p>{{studie.name}}, </p>
          <p>{{studie.date}}, </p>
          <p>{{studie.site}}, </p>
          <p>{{studie.tittle}}.</p>
        </li>
      </ul>
    </div>

    <div class="micv-section-three__tab certif" (click)="view('certif')">
      <div class="micv-section-three__tab___show">
        <i class="fa-solid fa-plus" [ngClass]="{'fa-minus': viewTrue === 'certif', 'fa-plus' : viewTrue !==  'certif'}"></i>
        <span>{{contentcv.certificates.name}}</span>
      </div>
    </div>
    <div class="details certif-details" [ngClass]="{'view': viewTrue === 'certif'}">
      <ul>
        <li *ngFor="let certificate of certificates">
          <a [href]="certificate.url">
          <p>{{certificate.name}}, {{certificate.school}}, {{certificate.date}}.</p>
          </a>
        </li>
      </ul>
    </div>

    <div class="micv-section-three__tab experien" (click)="view('experien')">
      <div class="micv-section-three__tab___show">
        <i class="fa-solid fa-plus" [ngClass]="{'fa-minus': viewTrue === 'experien', 'fa-plus' : viewTrue !==  'experien'}"></i>
        <span>{{contentcv.experience.name}}</span>
      </div>
    </div>
    <div class="details experien-details" [ngClass]="{'view': viewTrue === 'experien'}">
      <ul>
        <li>
          <p><b>{{contentcv.experience.details.work2.name}}, </b></p>
          <p>{{contentcv.experience.details.work2.position}}, </p>
          <p>{{contentcv.experience.details.work2.date}}.</p>
        </li>
        <li>
          <p><b>{{contentcv.experience.details.work1.name}}, </b></p>
          <p>{{contentcv.experience.details.work1.position}}, </p>
          <p>{{contentcv.experience.details.work1.date}}.</p>
        </li>
      </ul>
    </div>

    <div class="micv-section-three__tab abilities" (click)="view('abilities')">
      <div class="micv-section-three__tab___show">
        <i class="fa-solid fa-plus" [ngClass]="{'fa-minus': viewTrue === 'abilities', 'fa-plus' : viewTrue !==  'abilities'}"></i>
        <span>{{contentcv.abilities.name}}</span>
      </div>
    </div>
    <div class="details abilities-details" [ngClass]="{'view': viewTrue === 'abilities'}">
        <div *ngFor="let abilitie of abilities">
          <label for="abilitie">{{abilitie.name}}</label>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
            aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style]="'width:'+abilitie.nivel+'%;'">{{abilitie.name}}</div>
          </div>
        </div>
    </div>
  </section>
</div>

<!--//////////////////////////////////////////////////////////////////////////////////////////7-->
<!--<div class="gallerize-example" >

	<h2>Lightbox Example</h2>
	<p class="container">
		<img *ngFor="let item of items; index as i" style="width: 200px;"
         [lightbox]="i"
         [src]="item.data.thumb">
	</p>

  <h2>Another lightbox with custom gallery config</h2>
  	<p class="container">
		<img *ngFor="let item of items; index as i" style="width: 200px;"
          [lightbox]="i"
          [gallery]="'anotherLightbox'"
          [src]="item.data.thumb">
	</p>

</div> -->

