<div class="micv" *ngIf="(loading$ | async) === false">
  <section class="micv-section-one">

    <a
      class="link-secondary m-3 mx-5 position-absolute end-0"
      *ngIf="(isAdmin)" (click)="abrirModal(update)"
    >
      <i class="fa-solid fa-pen-to-square"></i>
    </a>

    <h1 class="micv-section-one__tittle">{{ profileData.profession }}</h1>
    <div class="micv-section-one__photo position-relative">
      <!--aqui va el anterior componente-->
      <img class="rounded-circle"
        [lightbox]="0"
        (click)="openLigthbox(profileData.photo? profileData.photo : '')"
        [src]="profileData.photo"
        alt="photo-perfile"
      />
      <a
      class="link-secondary position-absolute end-0 cursor-pointer"
      title="Cambiar Foto"
      *ngIf="(isAdmin)" (click)="abrirModal(updatePhoto)"
      >
        <i class="fa-solid fa-camera"></i>
      </a>
    </div>
  </section>
  <section class="micv-section-two">
    <div class="micv-section-two__icons">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item cursor-pointer" role="presentation">
          <a
            class="profile nav-link active"
            id="profile-tab"
            data-bs-toggle="tab"
            data-bs-target="#profile"
            role="tab"
            aria-controls="profile"
            aria-selected="true"
            ><i class="fa-solid fa-user-tie"></i
          ></a>
        </li>
        <li class="nav-item cursor-pointer" role="presentation">
          <a
            class="phone nav-link"
            id="phone-tab"
            data-bs-toggle="tab"
            data-bs-target="#phone"
            role="tab"
            aria-controls="phone"
            aria-selected="false"
            ><i class="fa-solid fa-mobile"></i
          ></a>
        </li>
        <li class="nav-item cursor-pointer" role="presentation">
          <a
            class="email nav-link"
            id="email-tab"
            data-bs-toggle="tab"
            data-bs-target="#email"
            role="tab"
            aria-controls="email"
            aria-selected="false"
            ><i class="fa-solid fa-at"></i
          ></a>
        </li>
        <li class="nav-item cursor-pointer" role="presentation">
          <a
            class="address nav-link"
            id="address-tab"
            data-bs-toggle="tab"
            data-bs-target="#address"
            role="tab"
            aria-controls="address"
            aria-selected="false"
            ><i class="fa-solid fa-location-dot"></i
          ></a>
        </li>
      </ul>
    </div>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="profile"
        role="tabpanel"
        aria-labelledby="profile-tab"
      >
        {{ profileData.name }} {{ profileData.lastname }}
      </div>
      <div
        class="tab-pane fade"
        id="phone"
        role="tabpanel"
        aria-labelledby="phone-tab"
      >
        {{ profileData.phone }}
      </div>
      <div
        class="tab-pane fade"
        id="email"
        role="tabpanel"
        aria-labelledby="email-tab"
      >
        {{ profileData.email }}
      </div>
      <div
        class="tab-pane fade"
        id="address"
        role="tabpanel"
        aria-labelledby="address-tab"
      >
        {{ profileData.departamento }} - {{ profileData.municipio}}
      </div>
    </div>
  </section>
  <section class="micv-section-three">
    <div
      class="micv-section-three__tab cursor-pointer profil"
      (click)="view('profil')"
    >
      <div class="micv-section-three__tab___show">
        <i
          class="fa-solid fa-plus"
          [ngClass]="{
            'fa-minus': viewTrue === 'profil',
            'fa-plus': viewTrue !== 'profil'
          }"
        ></i>
        <span>Perfil Profesional</span>
      </div>
    </div>
    <div
      class="details profile-details"
      [@enterAnimation]
      *ngIf="viewTrue === 'profil'"
    >
      <p style="white-space: pre-line; font-size: 14px;">{{ profileProf.text_profile }}</p>
    </div>
    <div
      class="micv-section-three__tab cursor-pointer studies"
      (click)="view('studies')"
    >
      <div class="micv-section-three__tab___show">
        <i
          class="fa-solid"
          [ngClass]="{
            'fa-minus': viewTrue === 'studies',
            'fa-plus': viewTrue !== 'studies'
          }"
        ></i>
        <span>Estudios</span>
      </div>
    </div>
    <div class="details studies-details d-flex flex-wrap" [@enterAnimation] *ngIf="viewTrue === 'studies'">
      <div class="card border-warning m-3" style="min-width: 250px;" *ngFor="let item of profileStudies">
        <input class="cursor-pointer w-100 h-100 position-absolute opacity-0" [id]="'radio-'+item.id" type="radio" [name]="'studies'" [value]="item.id">
        <div class="card-header pe-5">{{item.titulo_obtenido}}</div>
        <div class="card-body">
          <h5 class="card-title">{{item.nombre_institucion}}</h5>
          <p class="card-text">{{item.departamento}} - {{item.municipio}}</p>
          <table class="table table-sm w-100">
            <thead>
              <tr>
                <th>Inicio</th>
                <th>Fin</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{item.fecha_inicio | date}}</td>
                <td *ngIf="item.fecha_fin">{{item.fecha_fin | date}}</td>
                <td *ngIf="item.en_curso">En Curso</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div
      class="micv-section-three__tab cursor-pointer certif"
      (click)="view('certif')"
    >
      <div class="micv-section-three__tab___show">
        <i
          class="fa-solid fa-plus"
          [ngClass]="{
            'fa-minus': viewTrue === 'certif',
            'fa-plus': viewTrue !== 'certif'
          }"
        ></i>
        <span>Certificados y Constancias</span>
      </div>
    </div>
    <div
      class="details certif-details"
      [@enterAnimation]
      *ngIf="viewTrue === 'certif'"
    >
      <div class="row">
        <div class="col-md-3 align-items-start border-end border-primary">
          <div
            class="nav flex-column nav-pills me-3"
            id="v-pills-tab"
            role="tablist"
            aria-orientation="vertical"
          >
            <button
              class="nav-link active"
              id="v-pills-habilidadesblandas-tab"
              type="button"
              data-bs-toggle="pill"
              data-bs-target="#v-pills-habilidadesblandas"
              role="tab"
              aria-controls="v-pills-habilidadesblandas"
              aria-selected="true"
            >
              Habilidades Blandas
            </button>
            <button
              class="nav-link"
              id="v-pills-programacion-tab"
              type="button"
              data-bs-toggle="pill"
              data-bs-target="#v-pills-programacion"
              role="tab"
              aria-controls="v-pills-programacion"
              aria-selected="false"
            >
              Programación
            </button>
            <button
              class="nav-link"
              id="v-pills-SQL-tab"
              type="button"
              data-bs-toggle="pill"
              data-bs-target="#v-pills-SQL"
              role="tab"
              aria-controls="v-pills-SQL"
              aria-selected="false"
            >
              SQL
            </button>
            <button
              class="nav-link"
              id="v-pills-idiomas-tab"
              type="button"
              data-bs-toggle="pill"
              data-bs-target="#v-pills-idiomas"
              role="tab"
              aria-controls="v-pills-idiomas"
              aria-selected="false"
            >
              Idiomas
            </button>
            <button
              class="nav-link"
              id="v-pills-qa-tab"
              type="button"
              data-bs-toggle="pill"
              data-bs-target="#v-pills-qa"
              role="tab"
              aria-controls="v-pills-qa"
              aria-selected="false"
            >
              QA
            </button>
            <button
              class="nav-link"
              id="v-pills-rutas-tab"
              type="button"
              data-bs-toggle="pill"
              data-bs-target="#v-pills-rutas"
              role="tab"
              aria-controls="v-pills-rutas"
              aria-selected="false"
            >
              Rutas
            </button>
            <button
              class="nav-link"
              id="v-pills-otros-tab"
              type="button"
              data-bs-toggle="pill"
              data-bs-target="#v-pills-otros"
              role="tab"
              aria-controls="v-pills-otros"
              aria-selected="false"
            >
              Otros
            </button>
          </div>
        </div>

        <div class="col-md-9">
          <div class="tab-content" id="v-pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="v-pills-habilidadesblandas"
              role="tabpanel"
              aria-labelledby="v-pills-habilidadesblandas-tab"
            >
              <div class="d-flex flex-wrap">
                <div *ngFor="let certificate of profileCertificates">
                  <button
                    *ngIf="certificate.categoria === 'habilidadesblandas'"
                    type="button"
                    class="btn btn-outline-primary m-2"
                    [placement]="['top', 'bottom']"
                    [ngbPopover]="popoverComponent"
                    popoverClass="popover"
                    [autoClose]="'outsideClick'"
                    container="body"
                  >
                    {{ certificate.nombre_curso }}
                  </button>

                  <ng-template #popoverComponent>
                    <app-popover
                      [title]="certificate.nombre_curso"
                      [content]="certificate"
                    ></app-popover>
                  </ng-template>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="v-pills-programacion"
              role="tabpanel"
              aria-labelledby="v-pills-programacion-tab"
            >
              <div class="d-flex flex-wrap">
                <div *ngFor="let certificate of profileCertificates">
                  <button
                    *ngIf="certificate.categoria === 'programacion'"
                    type="button"
                    class="btn btn-outline-primary m-2 btn-certificates"
                    [placement]="['top', 'bottom']"
                    [ngbPopover]="popoverComponent"
                    popoverClass="popover"
                    [autoClose]="'outsideClick'"
                    container="body"
                  >
                    {{ certificate.nombre_curso }}
                  </button>

                  <ng-template #popoverComponent>
                    <app-popover
                      [title]="certificate.nombre_curso"
                      [content]="certificate"
                    ></app-popover>
                  </ng-template>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="v-pills-SQL"
              role="tabpanel"
              aria-labelledby="v-pills-SQL-tab"
            >
              <div class="d-flex flex-wrap">
                <div *ngFor="let certificate of profileCertificates">
                  <button
                    *ngIf="certificate.categoria === 'sql'"
                    type="button"
                    class="btn btn-outline-primary m-2 btn-certificates"
                    [placement]="['top', 'bottom']"
                    [ngbPopover]="popoverComponent"
                    popoverClass="popover"
                    [autoClose]="'outsideClick'"
                    container="body"
                  >
                    {{ certificate.nombre_curso }}
                  </button>

                  <ng-template #popoverComponent>
                    <app-popover
                      [title]="certificate.nombre_curso"
                      [content]="certificate"
                    ></app-popover>
                  </ng-template>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="v-pills-idiomas"
              role="tabpanel"
              aria-labelledby="v-pills-idiomas-tab"
            >
              <div class="d-flex flex-wrap">
                <div *ngFor="let certificate of profileCertificates">
                  <button
                    *ngIf="certificate.categoria === 'idiomas'"
                    type="button"
                    class="btn btn-outline-primary m-2 btn-certificates"
                    [placement]="['top', 'bottom']"
                    [ngbPopover]="popoverComponent"
                    popoverClass="popover"
                    [autoClose]="'outsideClick'"
                    container="body"
                  >
                    {{ certificate.nombre_curso }}
                  </button>

                  <ng-template #popoverComponent>
                    <app-popover
                      [title]="certificate.nombre_curso"
                      [content]="certificate"
                    ></app-popover>
                  </ng-template>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="v-pills-rutas"
              role="tabpanel"
              aria-labelledby="v-pills-rutas-tab"
            >
              <div class="d-flex flex-wrap">
                <div *ngFor="let certificate of profileCertificates">
                  <button
                    *ngIf="certificate.categoria === 'rutas'"
                    type="button"
                    class="btn btn-outline-primary m-2 btn-certificates"
                    [placement]="['top', 'bottom']"
                    [ngbPopover]="popoverComponent"
                    popoverClass="popover"
                    [autoClose]="'outsideClick'"
                    container="body"
                  >
                    {{ certificate.nombre_curso }}
                  </button>

                  <ng-template #popoverComponent>
                    <app-popover
                      [title]="certificate.nombre_curso"
                      [content]="certificate"
                    ></app-popover>
                  </ng-template>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="v-pills-qa"
              role="tabpanel"
              aria-labelledby="v-pills-qa-tab"
            >
              <div class="d-flex flex-wrap">
                <div *ngFor="let certificate of profileCertificates">
                  <button
                    *ngIf="certificate.categoria === 'qa'"
                    type="button"
                    class="btn btn-outline-primary m-2 btn-certificates"
                    [placement]="['top', 'bottom']"
                    [ngbPopover]="popoverComponent"
                    popoverClass="popover"
                    [autoClose]="'outsideClick'"
                    container="body"
                  >
                    {{ certificate.nombre_curso }}
                  </button>

                  <ng-template #popoverComponent>
                    <app-popover
                      [title]="certificate.nombre_curso"
                      [content]="certificate"
                    ></app-popover>
                  </ng-template>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="v-pills-otros"
              role="tabpanel"
              aria-labelledby="v-pills-otros-tab"
            >
              <div class="d-flex flex-wrap">
                <div *ngFor="let certificate of profileCertificates">
                  <button
                    *ngIf="certificate.categoria === 'otros'"
                    type="button"
                    class="btn btn-outline-primary m-2 btn-certificates"
                    [placement]="['top', 'bottom']"
                    [ngbPopover]="popoverComponent"
                    popoverClass="popover"
                    [autoClose]="'outsideClick'"
                    container="body"
                  >
                    {{ certificate.nombre_curso }}
                  </button>

                  <ng-template #popoverComponent>
                    <app-popover
                      [title]="certificate.nombre_curso"
                      [content]="certificate"
                    ></app-popover>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="micv-section-three__tab cursor-pointer experien"
      (click)="view('experien')"
    >
      <div class="micv-section-three__tab___show">
        <i
          class="fa-solid fa-plus"
          [ngClass]="{
            'fa-minus': viewTrue === 'experien',
            'fa-plus': viewTrue !== 'experien'
          }"
        ></i>
        <span>Experiencia Profesional</span>
      </div>
    </div>
    <div
      class="details experien-details d-flex flex-wrap"
      [@enterAnimation]
      *ngIf="viewTrue === 'experien'"
    >

        <div class="card border-warning m-3"
        style="min-width: 300px;" *ngFor="let item of profileExperience"
        >
        <div class="card-header pe-5">{{item.nombre_empresa}}</div>
        <div class="card-body">
          <h5 class="card-title">{{item.cargo}}</h5>
          <p class="card-text">{{item.departamento}} - {{item.municipio}}</p>
          <table class="table table-sm w-100">
            <thead>
              <tr>
                <th>Inicio</th>
                <th>Fin</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{item.fecha_inicio | date}}</td>
                <td *ngIf="item.fecha_fin">{{item.fecha_fin | date}}</td>
                <td *ngIf="item.en_curso">En Curso</td>
              </tr>
            </tbody>
          </table>
          <p class="card-text fst-italic" style="white-space: pre-line; font-size: 14px;">{{item.funciones_responsabilidades}}</p>
        </div>
      </div>

    </div>


    <div
      class="micv-section-three__tab cursor-pointer abilities"
      (click)="view('abilities')"
    >
      <div class="micv-section-three__tab___show">
        <i
          class="fa-solid fa-plus"
          [ngClass]="{
            'fa-minus': viewTrue === 'abilities',
            'fa-plus': viewTrue !== 'abilities'
          }"
        ></i>
        <span>Habilidades Técnicas</span>
      </div>
    </div>
    <div
      class="details abilities-details"
      [@enterAnimation]
      *ngIf="viewTrue === 'abilities'"
    >
      <div class="p-4 row">
        <p class="container fst-italic rounded" style="white-space: pre-line; font-size: 12px;">
          {{notas[0].nota}}
        </p>
      </div>
      <div class="row">
        <div class="px-3 pb-3 col-12 col-sm-6 col-lg-4" *ngFor="let abilitie of profileAbilities">
          <label for="abilitie">{{ abilitie.nombre_habilidad }}</label>
          <div class="progress">
            <div
              class="progress-bar progress-bar-striped progress-bar-animated"
              role="progressbar"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
              [style]="'width:' + abilitie.porcentaje + '%;'"
            >
              {{ abilitie.nombre_habilidad }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <ng-template #update let-modal>
    <app-modal-form></app-modal-form>
  </ng-template>

  <ng-template #updatePhoto let-modal>
    <app-modal-gallery-cv [modal]="modal"></app-modal-gallery-cv>
  </ng-template>
</div>

