@import "../../../styles.scss";

.section-one {
  &--leyend {
    margin: 5vw 4vw 10vw;
    padding: 2vw;
    background-color: var(--colorsecundary);
    border-radius: 10px;
    box-shadow: 5px 4px 6px var(--colorshadow);
    text-align: justify;
    color: var(--colorfonttwo);
    & span > span {
      color: var(--colorbutton);
      font-weight: 700;
    }
  }
}

.section-two {
  position: relative;
  background-color: var(--colorsecundary);
  flex-wrap: wrap;
  justify-content: center;
  padding: 10vw 0;
  &--developer {
    position: absolute;
    padding: 1vw 3vw;
    border-radius: 10px;
    background-color: var(--colorprimary);
    transform: translate(0, -14vw);
    box-shadow: 0px 2px 6px var(--colorshadow);
  }
  &--developer__description {
    width: 80%;
    text-align: center;
    color: var(--colorfonttwo);
  }
  &--card {
    margin: 10px 10px;
    width: 25vw;
    height: 25vw;
    min-width: 80px;
    min-height: 80px;
    background-color: var(--colorbutton);
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 4px 6px var(--colorshadow);
    & a {
      text-decoration: none;
      &:visited {
        color: var(--colorfontone);
      }
    }
  }
}
.section-three {
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10vw 0;
  &--users {
    position: absolute;
    padding: 1vw 3vw;
    border-radius: 10px;
    background-color: var(--colorprimary);
    transform: translate(0px, -14vw);
    box-shadow: 0px 2px 6px var(--colorshadow);
  }
  &--users__description {
    width: 80%;
    text-align: center;
    color: var(--colorfonttwo);
  }
  &--card {
    margin: 10px 10px;
    width: 25vw;
    height: 25vw;
    min-width: 80px;
    min-height: 80px;
    background-color: var(--colorbutton);
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 4px 6px var(--colorshadow);
    & a {
      text-decoration: none;
      &:visited {
        color: var(--colorfontone);
      }
    }
  }
}

.comments {
  padding: 40px 10px;
  text-align: center;
  background-color: var(--colorprimary);
  &-button {
    padding: 10px 30px;
    background-color: var(--colorsecundary);
    color: var(--colorfonttwo);
    border-radius: 10px;
  }
}
.app-comments {
  text-align: left;
  position: relative;
  z-index: 100;
}
