<article>
  <section class="section-one">
    <div class="section-one--leyend">
      <span *ngIf="leerMas !== 'bienvenida'"
        >{{principal.intro}}  <span (click)="leerMas = 'bienvenida'"> Leer Mas</span></span
      >
      <span *ngIf="leerMas === 'bienvenida'">{{principal.bienvenida}}  <span (click)="leerMas = ''"> Leer Menos</span></span>
    </div>
    <div class="section-one--leyend">
      <span *ngIf="leerMas !== 'herramientas'"
        >{{principal.introherramientas}}  <span (click)="leerMas = 'herramientas'"> Leer Mas</span></span
      >
      <span *ngIf="leerMas === 'herramientas'">{{principal.herramientas}}  <span (click)="leerMas = ''"> Leer Menos</span></span>
    </div>
  </section>
  <section class="section-two d-flex">
    <div class="section-two--developer"><span>Developer</span></div>
    <div class="section-two--developer__description">
      <p>{{ principal.developer }}</p>
    </div>
    <div class="section-two--card d-flex">
      <a [routerLink]="['micv']"
        ><i class="fa-solid fa-file"></i>
        <div>Mi CV</div></a
      >
    </div>
    <div class="section-two--card d-flex">
      <a [routerLink]="['proyectos']"
        ><i class="fa-solid fa-briefcase"></i>
        <div>Proyectos</div></a
      >
    </div>
    <div class="section-two--card d-flex">
      <a [routerLink]="['blogspace']"
        ><i class="fa-solid fa-blog"></i>
        <div>Blog Space</div></a
      >
    </div>
  </section>
  <section class="section-three d-flex">
    <div class="section-three--users"><span>Users</span></div>
    <div class="section-three--users__description">
      <p>{{ principal.users }}</p>
    </div>
    <div class="section-three--card d-flex">
      <a [routerLink]="['login/signin']"
        ><i class="fa-solid fa-file-signature"></i>
        <div>Sign In</div></a
      >
    </div>
    <div class="section-three--card d-flex">
      <a [routerLink]="['login']"
        ><i class="fa-solid fa-right-to-bracket"></i>
        <div>Log In</div></a
      >
    </div>
  </section>
  <hr>
  <section class="comments">
    <p>“Su opinión es muy importante. Por favor, deja tu opinión en el botón de comentarios”</p>
    <a class="comments-button" (click)="comments = true">Comentar</a>
  </section>
  <div *ngIf="comments" [@enterAnimation] class="app-comments">
    <app-comments [nameProject]="nameProject" [sectionShow]="comments" (sectionHide)="comments = false"></app-comments>
  </div>
</article>
