@import "../../../styles.scss";

.section-one--leyend {
  margin: 15vw 4vw;
  padding: 2vw;
  background-color: var(--color-sucundary);
  border-radius: 10px;
  box-shadow: 5px 4px 6px var(--color-shadow);
  text-align: justify;
}

.section-two {
  position: relative;
  background-color: var(--color-medio);
  flex-wrap: wrap;
  justify-content: center;
  padding: 10vw 0;

  &--developer {
    position: absolute;
    padding: 1vw 3vw;
    border-radius: 10px;
    background-color: var(--color-medio);
    transform: translate(0, -14vw);
    box-shadow: 0px 2px 6px var(--color-shadow);
  }
  &--developer__description {
    width: 80%;
    text-align: center;
  }
  &--card {
    margin: 10px 10px;
    width: 25vw;
    height: 25vw;
    min-width: 80px;
    min-height: 80px;
    background-color: var(--color-sucundary);
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 4px 6px var(--color-shadow);
    & a {
      text-decoration: none;
      &:visited {
        color: var(--color-claro);
      }
    }
  }
}

.section-three {
  position: relative;
  background-color: var(--color-primary);
  flex-wrap: wrap;
  justify-content: center;
  padding: 10vw 0;
  &--users {
    position: absolute;
    padding: 1vw 3vw;
    border-radius: 10px;
    background-color: var(--color-medio);
    transform: translate(0px, -14vw);
    box-shadow: 0px 2px 6px var(--color-shadow);
  }
  &--users__description {
    width: 80%;
    text-align: center;
  }
  &--card {
    margin: 10px 10px;
    width: 25vw;
    height: 25vw;
    min-width: 80px;
    min-height: 80px;
    background-color: var(--color-sucundary);
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 4px 6px var(--color-shadow);
    & a {
      text-decoration: none;
      &:visited {
        color: var(--color-claro);
      }
    }
  }
}
