/* You can add global styles to this file, and also import other style files */
:root {
  --color-primary: #303436;
  --color-claro: #ffffff;
  --color-sucundary: #03839F;
  --color-medio: #383D3F;
  --font1: 'Kaisei Tokumin', serif;
}
/*:root {
  --color-primary: #d4eaff;
  --color-claro: #00172d;
  --color-sucundary: #2696ff;
  --color-medio: #74bcff;
  --font1: 'Kaisei Tokumin', serif;
}*/

@mixin card {
  &--card {
    background-color: var(--color-medio);
    display: flex;
    flex-direction: column;
    width: 150px;
    height: auto;
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    overflow: hidden;
    & .card__img {
      & img {
        height: 120px;
      }
    }
    & .card__tittle {
      font-size: 14px;
      text-align: center;
      margin-top: 10px;
    }
    & .card__description {
      font-size: 10px;
      text-align: center;
      margin: 0 5px;
    }
    & .card__icons {
      display: flex;
      width: 100%;
      justify-content: space-around;
      border-top: 1px solid var(--color-primary);
      margin-top: 10px;
      & .icon-likes, .icon-comment, .icon-link {
        text-align: center;
        width: 100%;
        height: 100%;
        padding: 5px;
        border-right: 1px solid var(--color-primary);
      }
      & .icon-link {
        border: 0;
      }
    }
  }
}


body {
  background-color: var(--color-primary);
  margin: 0;
  padding: 0;
  font-family: var(--font1);
  color: var(--color-claro);
  & h3 {
    font-size: 20px;
  }
  & i {
    font-size: 20px;
  }
  & a {
    color: var(--color-claro);
  }
  & p {
    font-size: 16px;
  }
}
