@import "../../../styles.scss";

.app-comments {
  position: relative;
  z-index: 100;
}

.projects {
  color: var(--colorfonttwo);
  &-sections {
    flex-wrap: wrap;
    position: relative;
    & .card {
      border-radius:10px;
      max-width:170px;
      width: 18rem;
      background-color: var(--colorsecundary);
      &-text {
        font-size: 12px;
        color: var(--colorfonttwo);
      }
      &-title {
        color: var(--colorfonttwo);
      }
      & .btn {
      background-color: var(--colorprimary);
        color: var(--colorfontone);
      }
    }
  }
}
