<div class="projects">
  <h2 class="mt-3 text-center" (click)="open(1)">Projects</h2>
  <section class="projects-sections mt-3 mb-3 d-flex justify-content-center">
    <!--Se crean Carda Automaticas-->
    <div *ngFor="let project of projectsArray; let i=index" class="card m-2 overflow-hidden bg-dark w-50" style="border-radius:10px; max-width:170px; width: 18rem;">
      <img class="card-img-top" [src]="project.img" alt="Card image cap" (click)="open(i)">
      <div class="card-body p-0 text-center">
        <div class="w-100 p-2">
          <h5 class="card-title">{{project.name}}</h5>
          <p class="card-text" style="font-size: 10px;">{{project.description}}</p>
        </div>
        <div class="btn-group mt-1 w-100">
          <a href="#" class="btn btn-secondary" style="border-right: 2px solid black;"><i class="fa-solid fa-thumbs-up"></i></a>
          <a href="#" class="btn btn-secondary" style="border-right: 2px solid black;"><i class="fa-solid fa-comment"></i></a>
          <a [href]="project.link" class="btn btn-secondary"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
        </div>
      </div>
    </div>

  </section>
</div>
