@import "../../../styles.scss";

.projects {
  &-sections {
    flex-wrap: wrap;
    & .card {
      border-radius:10px;
      max-width:170px;
      width: 18rem;
      background-color: var(--colorprimary);
      &-text {
        font-size: 10px;      }
    }
    & .btn {
      background-color: var(--colormedio);
      color: var(--colorclaro);
    }
  }
}
