@import '../../../global.scss';

.signin {
  max-width: 300px;
  padding: 20px;
  margin: 0 auto;
  margin-block: 5%;
  background-color: var(--colorsecundary);
  border-radius: 20px;
  &-title {
    text-align: center;
    margin-bottom: 5%;
    color: var(--colorfonttwo);
  }
  & > button {
    @include button-forms;
  }

  &-form {
    & .button-nav {
      display: flex;
      justify-content: space-evenly;
      & > button {
        @include button-forms-small;
      }
    }
    & label {
      width: 100%;
    }
    & input {
      width: 100%;
      font-size: 16px;
      color: var(--colorfonttwo);
      background-color: var(--colorbg);
      padding: 2%;
      font-weight: 400;
      text-align: center;
      border-color: var(--colorsecundary);
      border-style: solid;
      border-width: 2px;
      outline-color: var(--colorbutton);
      border-radius: 10px;
    }
    & > div {
      font-size: 14px;
    }
    &--button {
      @include button-forms;
    }
  }
}
