@mixin button-forms {
  width: 100%;
  font-size: 16px;
  color: var(--colorfontone);
  background-color: var(--colorbutton);
  padding: 5px;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  & i {
    font-size: 20px;
  }
  &:disabled {
        background-color: grey;
      }
}

@mixin button-forms-small {
  width: 48%;
  font-size: 14px;
  color: var(--colorfontone);
  background-color: var(--colorbutton);
  padding: 2%;
  font-weight: 400;
  border: none;
  border-radius: 10px;
  margin: 5px;
  & i {
    font-size: 18px;
  }
  &:disabled {
    background-color: grey;
  }
}
